<html>
<head>
<script src="https://kit.fontawesome.com/98d1622aa9.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/styles.css">
<style>
body {
  background-color: white;
  color: rgb(65,105,225);
}
.page-footer {
  background-color: rgb(112, 128, 144);
  color: white;
}
</style>
</head>
<body>

<footer class="page-footer font-small">

  <div class="container">

    <div class="row">

      <div class="col-md-12 py-5 d-flex justify-content-center">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://x.com">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://uk.linkedin.com/company/">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>

    </div>

  </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2024 Copyright:
      <a href="/"> TomsApp </a>
    </div>
</footer>
<!-- Footer -->
</body>
</html>
