<!-- Start of HTML document -->
<!DOCTYPE html>
<html>
<head>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <style>
        /* CSS for the body element */
        body {
            /* Set the background color to white */
            background-color: white;
            /* Set the text color to a specific RGB color */
            color: rgb(65,105,225);
        }
        /* CSS for the header element */
        .header {
            /* Set the background color to a specific RGB color */
            background-color: rgb(112, 128, 144);
            /* Set the text color to white */
            color: white;
        }
    </style>
</head>
<body>
    <!-- Header section -->
    <div class="header">
        <!-- Logo image -->
        <img src="" alt="App Logo">
        <!-- Navigation menu -->
        <nav>
            <ul>
                <!-- List of navigation links -->
                <li><a href="/home" style="color: white;">Home</a></li>
                <li><a href="/about" style="color: white;">About</a></li>
                <li><a href="/contact" style="color: white;">Contact</a></li>
                <li><a href="/login" style="color: white;">Login</a></li>
                <li><a href="/signup" style="color: white;">Sign Up</a></li>
            </ul>
        </nav>
    </div>
    {{{body}}}
</body>
</html>
