<html>
<head>
    {{>header}}
</head>
<body class="container">
        <h2>Sign up here</h2>
    <form method="post" role="/register">
<div class="form-group">
{{user-name-error}}
<label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullName" 
        placeholder="Enter full name" required>
    </div>
<label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" 
        placeholder="Enter email" required>
    </div>
<label for="email">Phone number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" 
        placeholder="Enter phone number" required>
    </div>
<label for="username">User Name</label>
    <input type="text" class="form-control" id="username" name="username"
    placeholder="Enter user name" required>
    </div>
    <div class="form-group">
<label for="password">Password (8 characters minimum)</label>
<input type="password" class="form-control" id="pass" name="pass"
    placeholder="Enter password" minlength="8" required>
    </div>
    <div class="form-group">
<input type="submit" value="Register" class="btn btn-primary">
</div>
</form>
{{>footer}}
</body>